.father{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.navbar{
    background-color: rgb(15, 14, 14) !important;
    height: 70px;
}
.navbar-brand{
    color: aliceblue;
    font-size: 40px;
}
.nav-link{
    color:white !important;
    font-size: 20px;
    margin-left: 50px;
}
.navbar{
    color:brown !important
}
/* .container-fluid{
    margin-left: 100px;
}
.navbar-nav{
    margin-left:200px;
} */
.nav-button{
    display: flex;
    /* margin-left: 450px; */
    padding: 10px;
    
}
/* .nav-button .login_btn{
    padding: 4px 10px 4px 10px;
    margin-left: 20%;
    border: white 1px;
    border-radius: 15px;
    
  } */
.nav-button .register0{
    
    padding: 4px 10px 4px 10px;
    border: white 1px;
    border-radius: 15px;
    margin-left: 20%;
}

/* --------------------------------------------------------------- */

.section1{
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: space-around; /* Adjust the spacing between figures */
    flex-wrap: wrap;
    margin-top: 70px;
    padding: 0 20px; /* Add padding to maintain spacing */
}
.div1 {
    /*  */
    margin: 20px;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.div1 h1{
    font-size: 35px;
}
.div1 p {
    margin-top: -30px;
    margin-bottom: -50px;
    font-size: 18px;
}

figure {
    width: calc(33.33% - 40px); /* Adjust the width to fit three figures in a row */
    margin: 0;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
}

figure {
    width: 370px;
    border: 2px solid rgb(139, 122, 148);
    border-radius: 0px;
    padding: 0px;
    box-shadow: 2px 1px 22px 2px;
    transition: 1000ms;
    background-color: rgb(231, 229, 227);
}

figcaption {
    margin-left: 10px;
}

figure img {
    width: 100%;
}

figure:hover {
    transform: scale(1.1);
}