footer {
    background-color: rgb(30, 27, 33);
    padding: 10px 20px;
    text-align: center;
  }
  
  footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  footer p{
    color: white;
  }